body{
    background: lightgray;
}

.header{
    width:100%;
    position: absolute;
    left:0;
    top:0;
    background: #5fadb5;
    height:60px;
    z-index: -100;
}

.buttonholder{
    padding:5px;
    margin:auto;
    width:100%;
    margin:0; 
}

#collections{
    text-align: center;
    margin-left:30%;
}

#profile{
    float: left;
}

#viewercontainer{
    background: grey;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    width:1000px;
    height: 700px;
    margin: auto;
    clear: none;
    padding: 0;
}

#viewerholder{
    position: relative;
}

#viewer{
    height:700px;
    width:400px;
    position: relative;
    z-index: 5;
}

#detail{
    width:600px;
    height:700px;
    text-align: center;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
    border: solid lightgray 1px;
    border-radius: 5px;
}

#detail p{
   margin-top: -10px;
}


.itemview{
    padding:10px;
    border: solid white 2px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.2);
    width: 150px;
    height: 150px;
    position: absolute;
    top: 25;
    left: 35;
    z-index:10;
    cursor: hand;
}

#itemview0{
    top: 50;
    left: 35;
}

#itemview1{
    top: 50;
    left: 215;
}


#itemview2{
    top: 275;
    left: 215;
}


#itemview3{
    top: 275;
    left: 35;
}


#itemview4{
    top: 500;
    left: 35;
}

#itemview5{
    top: 500;
    left: 215;
}

#itemdetail{
    height: 300px;
    margin: 0px auto;
}

#detaildefault{
    width:600px;
    height:700px;
    text-align: center;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 50px;
    border: solid lightgray 1px;
    border-radius: 5px;
}

#detaildefault{
    text-align: left;
}

button{
    margin: auto;
    height: 40px;
    width: 200px;
    background: #5fadb5;
    color: white;
    font-size: 20px;
    line-height: 25px;
    text-shadow: 1px 1px black;
    cursor: hand;
}

.profileviewer{
    position: absolute;
    right:10px;
    top: 10px;
    z-index: 1000;
}

// #hidden{
//     width: 300px;
//     height: 200px;
//     background: pink;
//     position: absolute;
//     z-index:1001;
// }