#tablecontainer{
  width:100%;
  height:100%;
  padding: 10px;
}

.holder{
  // border: solid white 1px;
  padding: 5px;
  display: flex;
}

.content{
    margin:auto;
    width:80%;
    min-height: 30px;
    max-width:150px;
    height:20%;
    float: left;
    background:white;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: hand;
}
.content:hover{
    background: #96ee89;
}


//
 
$darkestGreen: #012D21;
$darkGreen: #08542F;
$green: #1D813E;
$lightGreen: #50cc60;
$lighterGreen: #96ee89;